body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #35312e;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  width: 1440px;
}

.header-container {
}

.free-delivery {
  background-color: #f0eedd;
  height: 40px;
}

.free-delivery-text {
  color: #670a18;
  text-align: center;
  font-weight: 400;
  line-height: 20.4px;
  font-size: 12px;
  font-style: normal;
  text-transform: uppercase;

  padding-top: 10px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 48px;
  padding-right: 48px;

  background-color: #ffffff;
}

.header-nav {
  display: flex;
  align-items: center;

  height: 82px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-item {
}

.nav-link {
  font-size: 13px;
  font-weight: 700;
  line-height: 22.1px;
  text-transform: uppercase;

  padding-top: 30px;
  padding-bottom: 30px;
}

.nav-logo {
  padding: 25px;
}

.info-links {
  display: flex;
  align-items: center;
}

.info-links-list {
  display: flex;
  align-items: center;
  gap: 35px;
}

.info-links-item {
  color: #35312e;

  font-size: 13px;
  font-weight: 700;
  line-height: 22.1px;
  text-transform: uppercase;
}

.info-link {
  padding-top: 30px;
  padding-bottom: 30px;
}

.user-logo {
  width: 35px;
  height: 35px;
  margin-left: 35px;

  text-align: center;

  border-radius: 17.5px;
  background: #c87b5e;
}

.hero {
  height: 605px;

  background-image: url(/images/hero.jpg);
}

.hero-block {
  height: 265px;
  padding: 170px 383px;
}

.hero-description {
  color: #35312e;

  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.hero-title {
  font-size: 50px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 1px;

  margin-top: 9px;
}

.hero-title-sub {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 1px;
  text-decoration-line: underline;

  margin-top: -9px;
}

.hero-button {
  width: 248px;
  height: 60px;

  border: 0;
  border-radius: 2px;
  background: #d37657;

  margin-top: 58px;

  color: #fff;

  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 20.4px;
  text-transform: uppercase;
}

.clients {
  height: 212px;
  background-color: #f5f1e9;
}

.clients-title {
  font-size: 22px;
  letter-spacing: 1px;

  text-align: center;
  text-transform: uppercase;

  padding-top: 45px;
}

.clients-avatars {
  display: flex;
  gap: 150px;
  justify-content: space-around;

  margin-top: 45px;
  padding-left: 224px;
  padding-right: 224px;
}

.about {
  height: 340px;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  gap: 135px;

  padding-top: 118px;
}

.about-title {
  width: 400px;
  height: 93px;

  text-align: center;
  font-size: 41px;
  font-weight: 700;
  line-height: 46.2px;
  letter-spacing: 1.25px;
}

.about-description {
  width: 700px;
  height: 104px;

  color: #4f463f;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.92px;
}

.constructor {
  height: 939px;
  background-color: #fbf6ea;
}

.constructor-title {
  padding-top: 70px;

  color: #35312e;

  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.constructor-filter {
  margin-top: 53px;

  display: flex;
  justify-content: center;
  gap: 30px;
}

.constructor-filter-item {
  width: 30px;
  height: 30px;
}

.constructor-skillet {
  height: 553px;

  margin-top: 45px;

  background-image: url(/images/desing_skillet.png);
  background-position: center;
  background-repeat: no-repeat;
}

.constructor-skillet-part{
  color: #6E6259;

text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 15.48px;
text-transform: uppercase;
}
